@model IEnumerable<MyPrivateExnessCalculator.Models.Trade>

@{
    ViewBag.Title = "Index";
}

<h2>Trades</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pair)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopLoss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopLossPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PipValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnePipette)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Margin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinLot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalLot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopLossValue)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Results)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HitStop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loss)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pair)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Entry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopLoss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopLossPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PipValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnePipette)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Margin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinLot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalLot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopLossValue)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Results)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HitStop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loss)
        </td>*@
    <td>
        @Html.ActionLink("Update", "Edit", new { id = item.TradeId }, new { @class = "btn btn-warning" })  <p></p>
        @Html.ActionLink("Results", "ResultsUpdate", new { id = item.TradeId }, new { @class = "btn btn-success" }) <p></p>
        @Html.ActionLink("Delete", "Delete", new { id = item.TradeId }, new { @class = "btn btn-danger" })

    </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Journal", "Result")
</div>